<div class="cookie-consent__btn cookie-consent__btn_main cookie-consent__btn_main_accept cookie-consent__btn_accept cookie-consent cookie-consent__cookie-block cookie-consent__form cookie-consent__hidden">
    <div class="form-switch form-switch-static "></div>
    <div class="block mb-2 text-sm font-medium text-brand-900 bg-gray-100 border border-brand-500 text-brand-900 text-sm rounded-lg focus:ring-brand-500 focus:border-brand-500 block w-full p-2.5"></div>
</div>